/*-----------------------------------------------------------------------------------
	    wedding-final
        Built with Blocs
-----------------------------------------------------------------------------------*/

html{overflow-x: hidden;} 

body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:inline-block;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xxl{
	padding:200px 50px;
}
.bloc-lg{
	padding:100px 50px;
}

/* = Full Screen Blocs 
-------------------------------------------------------------- */

.bloc-fill-screen{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
}
.bloc-fill-screen > .container{
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
}
.bloc-fill-screen > .container > .row{
	flex-grow: 1;
	align-self: center;
	width:100%;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
	flex-grow: 0;
}
.bloc-fill-screen .fill-bloc-top-edge{
	align-self: flex-start;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
	align-self: flex-end;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Background Effects */

.b-parallax{
	background-attachment:fixed;
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* = NavBar
-------------------------------------------------------------- */

.hero .hero-nav{
	padding-left:inherit;
	padding-right:inherit;
}
/* Handle Multi Level Navigation */.navbar-light .navbar-nav .nav-link {
	color: rgb(64, 64, 64);
}
.btco-menu li > a {
	padding: 10px 15px;
	color: #000;
}
.btco-menu .active a:focus,.btco-menu li a:focus ,.navbar > .show > a:focus{
	background: transparent;
	outline: 0;
}
.dropdown-menu .show > .dropdown-toggle::after{
	transform: rotate(-90deg);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-glossy{
	border:1px solid rgba(0,0,0,.09);
	border-bottom-color:rgba(0,0,0,.2);
	text-shadow:0 1px 0 rgba(0,0,1,.2);
	box-shadow: 0 1px 3px rgba(0,0,1,.35), inset 0 1px 0 0 rgba(255,255,255,.4), inset 0 1px 0 2px rgba(255,255,255,.08);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%);
	 background-image: -o-linear-gradient(bottom, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%);
	background-image: linear-gradient(bottom, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%);
}
.a-block{
	width:100%;
	text-align:left;
	display: inline-block;
}
.text-center .a-block{
	text-align:center;
}

/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}


/* = Text & Icon Styles
-------------------------------------------------------------- */
.sm-shadow{
	text-shadow:0 1px 2px rgba(0,0,0,.3);
}
.lg-shadow{
	text-shadow:0 2px 5px rgba(0,0,0,.5);
}


.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}


/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* Scroll FX */
.scroll-fx-in-range{
	will-change: opacity;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Oleo Script";
}
.container{
	max-width:1920px;
}
.h1-margin-bottom{
	margin-bottom:97px;
	font-family:"Berkshire Swash";
	text-align:center;
}
.h1-style{
	font-family:"Playfair Display";
	margin-bottom:95px;
	font-weight:700;
	font-size:70px;
	text-transform:none;
	text-decoration:none;
	letter-spacing:3px;
	text-shadow:0px 3px 4px #000000;
	opacity:1.0;
	margin-top:62px;
}
.bloc-margin-bottom{
	margin-bottom:154px;
}
.row-margin-bottom{
	margin-bottom:246px;
}
.h1-sasha-style{
	font-family:"Playfair Display";
	font-size:70px;
	margin-bottom:85px;
	margin-top:82px;
	font-weight:400;
}
.carousel-margin-left{
	margin-left:2px;
	margin-bottom:-92px;
}
.btn-style{
	width:44.82%;
	font-family:"Cinzel";
	border-radius:25px 25px 25px 25px;
}
.w3-round{
	;
}
.h2-style{
	font-family:"Oleo Script";
	letter-spacing:2px;
}
.h3-style{
	width:100%;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:30px;
}
.h3--eventually-style{
	width:100%;
}
.img-style{
	width:231px;
	margin-top:-85px;
	border-radius:108px 108px 108px 108px;
}
.team-card{
	min-height:350px;
}
.h1-about-style{
	font-family:"Abril Fatface";
}
.icon-margin-right{
	margin-bottom:75px;
	margin-top:-88px;
}
.icon-shadow{
	font-size:300px;
	width:13%;
	height:34%;
	text-shadow:0px 4px 4px #000000;
}
.icon-large{
	font-size:200pt;
	font-family:"linecons";
	background-size:auto auto;
	text-shadow:0px 0px 0px #000000;
}
.h1-margin-top{
	margin-top:-72px;
	text-shadow:0px 7px 8px #000000;
	font-family:Rochester;
	font-weight:400;
}
.h1-our-story-style{
	font-family:"Cormorant Infant";
	margin-top:43px;
}
.bloc-margin-top{
	margin-top:272px;
}
.p-style{
	font-family:"helvetica";
	font-weight:700;
}
.container-div-margin-bottom{
	margin-bottom:10px;
	margin-top:35px;
}
.img-margin-top{
	margin-top:-32px;
	margin-right:264px;
	margin-left:358px;
}
.card-body-style{
	width:100%;
	margin-right:-58px;
	height:136px;
	margin-bottom:17px;
}
.label-style{
	width:100%;
}
.h2-margin-top{
	margin-top:15px;
	font-family:Cinzel;
	font-weight:700;
}
.label-1-style{
	width:100%;
}
.h4-margin-top{
	margin-top:19px;
	font-family:"Playfair Display";
	font-weight:400;
}
.container-div-margin-left{
	margin-left:66px;
	margin-right:-28px;
}
.icon-0-margin-right{
	margin-right:102px;
}
.h1-venue-style{
	font-size:60px;
}
.h2-akad-style{
	font-family:"Playfair Display";
	font-weight:400;
	margin-top:30px;
	text-shadow:0px 0px 0px #000000;
}
.h4-style{
	font-family:"Abril Fatface";
	font-weight:400;
	line-height:30px;
}
.divider-margin-top{
	margin-top:-24px;
	margin-bottom:3px;
}
.h1-6-style{
	font-size:70px;
	text-shadow:0px 6px 12px #000000;
	opacity:1.0;
	font-family:Lato;
	font-weight:700;
}
.p-bloc-4-style{
	font-size:30px;
	letter-spacing:3px;
	color:#212121!important;
	font-family:Lato;
	font-weight:400;
}
.p-margin-top{
	font-family:"helvetica";
	margin-left:50px;
}
.card-style{
	width:100%;
}
.h5-lorem-style{
	font-family:"helvetica";
	width:49.44%;
	margin-left:253px;
}
.label-name-style{
	font-family:"Cormorant Upright";
}
.label-email-style{
	font-family:"Cormorant Upright";
}
.label-message-style{
	font-family:"helvetica";
}
.label-will-style{
	font-family:"Cormorant Upright";
}
.container-div-margin-top{
	margin-top:244px;
}
.text-shadow{
	text-shadow:0px 9px 15px #000000;
}
.divider-0-margin-top{
	margin-top:48px;
	margin-bottom:70px;
}
.bloc-0-margin-top{
	margin-top:-77px;
}
.h1-bloc-7-style{
	font-size:70px;
	font-family:"Pinyon Script";
}
.p-3-style{
	font-family:"Playfair Display";
	line-height:20px;
	font-weight:400;
}
.h1-groom-style{
	font-size:60px;
	font-family:"Pinyon Script";
	margin-top:-62px;
}
.h2-will-margin-top{
	margin-top:41px;
	margin-bottom:71px;
	font-family:"Cormorant Upright";
	font-weight:400;
}
.h2-header-style{
	font-family:Playball;
	margin-bottom:-150px;
	margin-top:59px;
	text-shadow:0px 4px 5px #000000;
	font-size:px;
}
.p-our-story-style{
	font-family:Rochester;
	font-weight:400;
	font-size:20px;
}
.h1-bloc-4-style{
	font-family:"Pinyon Script";
	font-size:40px;
}
.divider-style{
	width:100%;
	color:#FEFFFF!important;
}
.h6-style{
	font-family:"Playfair Display";
	font-weight:400;
	font-size:11px;
}
.h6--fill-style{
	font-size:11px;
	font-family:"Playfair Display";
	font-weight:400;
}
.label-community-style{
	font-family:"Cormorant Upright";
}
.h6-where-style{
	font-family:"Playfair Display";
	font-size:11px;
	font-weight:400;
}
.h4-bloc-7-style{
	font-family:"Cormorant Infant";
	margin-top:34px;
}
.h2-subscribe-style{
	font-family:Cinzel;
	margin-top:43px;
}
.text-center{
	text-shadow:0px 2px 1px #000000;
	font-size:80px;
	font-family:"Playfair Display";
	font-weight:700;
}
.big-text{
	font-size:70px;
	font-family:"Playfair Display";
	font-weight:700;
	text-shadow:0px 2px 1px #000000;
}
.h5-style{
	font-family:"Lato";
	font-weight:300;
}
.h5-19-00-style{
	font-family:Lato;
	font-weight:300;
}
.h5-12-00-style{
	font-family:Lato;
	font-weight:300;
}
.h3-bloc-3-style{
	font-family:"Playfair Display";
	font-weight:400;
	line-height:30px;
}
.pewdiepie{
	font-family:"Julius Sans One";
	font-weight:900;
}
.h5-bloc-1-style{
	font-size:39px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-oxford-blue{
	background-color:rgba(0,31,66,0.1);
}

/* Text colour styles */

.tc-white{
	color:#FEFFFF!important;
}
.tc-white-2{
	color:#FEFFFF!important;
}
.tc-dark-jungle-green{
	color:#202020!important;
}
.tc-outer-space{
	color:#424242!important;
}
.tc-dark-jungle-green-2{
	color:#212121!important;
}

/* Button colour styles */

.btn-medium-electric-blue{
	background:#005392;
	color:#FFFFFF!important;
}
.btn-medium-electric-blue:hover{
	background:#004275!important;
	color:#FFFFFF!important;
}

/* Link colour styles */

.ltc-white{
	color:#FEFFFF!important;
}
.ltc-white:hover{
	color:#cbcccc!important;
}

/* Icon colour styles */

.icon-outer-space{
	color:#424242!important;
	border-color:#424242!important;
}

/* Bloc image backgrounds */

.bg-Sasha-20Invitation-20Background-20rev-4-01{
	background-image:url("img/Sasha%20Invitation%20Background%20rev.4-01.jpg");
}
.bg-Untitled-2x{
	background-image:url("img/Untitled@2x.png");
}
.bg-IMG-0262{
	background-image:url("img/IMG_0262.JPG");
}




/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.b-parallax{background-attachment:scroll;}}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {.b-parallax{background-attachment:scroll;}}
@media (max-width: 991px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.h1-style{
	letter-spacing:3px;
	line-height:45px;
}
.h2-margin-top{
	font-size:25px;
}
.row-margin-bottom{
	margin-bottom:264px;
}
.h5-bloc-1-style{
	font-size:39px;
}
 }

@media (max-width: 767px){
	.h5-bloc-1-style{
	font-size:30px;
}
.h1-sasha-style{
	font-size:60px;
}
 }

@media (max-width: 575px){
	.footer-link{
	text-align:center;
}
.h4-bloc-7-style{
	text-align:center;
}
.pewdiepie{
	text-align:center;
	font-family:"Lato";
	font-weight:300;
	font-size:40px;
}
.h1-sasha-style{
	font-size:40px;
}
.h2-header-style{
	font-size:20px;
}
.h2-style{
	text-align:center;
}
.h1-our-story-style{
	text-align:center;
}
.h1-groom-style{
	text-align:center;
}
.mobile-style{
	text-align:center;
}
.h1-bloc-4-style{
	font-size:20px;
}
 }

